@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
     background: #FFF;
    /* width: 1400px; */

    
}
body{
    font-family:Poppins;
    
}

/* ***********header section style******* */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}

.nav-tite{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 700

}
nav >ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

/* ************banner section style******************* */

.banner-section{
    display: flex;
    justify-content: space-between;
   margin-top: 1rem;
   padding: 5rem;
}

.banner-title{
    margin-top: 1rem;
}

.banner-title h2{
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 5px;

}
.banner-title p{

    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;

}
button{
    border-radius: 8px;
    background: #E02C6D;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 25px;
    
}

.banner-img{
    background-image: url("./images/Circle\ design.svg");
    width: 440px;
   height: 414px;
}


/************** icon style************* */

.icon-section{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}